.container {
    display: grid;
    height: 100%;

    .spinner {
        width: 56px;
        height: 56px;
        place-self: center;
        border-radius: 50%;
        border: 9px solid;
        border-color: $bgActive;
        border-right-color: $text;
        animation: spinner 1s infinite linear;
    }
}

@keyframes spinner {
    to {
        transform: rotate(1turn);
    }
}
