.history-navigation {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;

    .button-container {
        display: flex;
        align-items: center;
        flex: 1;

        .button-container-button {
            position: relative;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1;

            background: transparent;
            border: none;
            cursor: pointer;

            transition: 0.15s linear;

            .button-container-button__month {
                font-size: 20px;
                color: $text;
            }

            .button-container-button__year {
                font-size: 14px;
                color: $lightText;
            }

            &:disabled {
                opacity: 0.5;
                pointer-events: none;
            }
        }

        &:first-child {
            .button-container-button {
                &::before {
                    display: inline-block;

                    content: "";

                    position: absolute;
                    left: 2px;

                    width: 10px;
                    height: 10px;

                    align-self: flex-start;

                    border-bottom: 1px solid $lightText;
                    border-left: 1px solid $lightText;

                    transform: rotate(45deg);

                    transition: 0.15s linear;
                }

                &:hover {
                    &::before {
                        left: -2px;
                    }
                }
            }
        }

        &:last-child {
            .button-container-button {
                &::after {
                    display: inline-block;

                    content: "";

                    position: absolute;
                    right: 2px;

                    width: 10px;
                    height: 10px;

                    align-self: flex-end;

                    border-top: 1px solid $lightText;
                    border-right: 1px solid $lightText;

                    transform: rotate(45deg);

                    transition: 0.15s linear;
                }

                &:hover {
                    &::after {
                        right: -2px;
                    }
                }
            }
        }
    }

    .history-navigation-current {
        flex: 1;

        cursor: default;

        &__month {
            display: block;

            font-size: 20px;
            color: $text;
            text-align: center;
        }

        &__year {
            display: block;

            font-size: 14px;
            color: $lightText;
            text-align: center;
        }
    }
}
