// Colors

$bg: #f1f3f0;
$bgHover: #e0e0e0;
$bgActive: #dedede;

$text: #333333;

$red: #fc3030;

@mixin title {
    font-size: 2rem;
}

@mixin addBtn {
    background: transparent;
    border: none;
    margin-bottom: -3px;
    cursor: pointer;

    svg circle {
        transition: 0.2s linear;
    }

    &:hover svg circle {
        fill: $bgHover;
    }
}
