// Colors

$white: #fff;

$bg: #f1f3f0;
$bgHover: #e0e0e0;
$bgActive: #d1d1d1;

$lightText: #585858;
$text: #333333;

$red: #fc3030;
$green: #75d36c;

@mixin title {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 2rem;
    color: $text;

    margin: 0;
}

@mixin addBtn {
    font-family: "Roboto", Arial, sans-serif;

    background: transparent;

    border: none;

    margin-bottom: -3px;
    cursor: pointer;

    svg circle {
        transition: 0.2s linear;
    }

    &:hover svg circle {
        fill: $bgHover;
    }
}

@mixin input {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: $text;

    outline: none;

    border: 1px solid $bgHover;
    border-radius: 3px;

    padding: 6px 0;
    margin-bottom: 10px;
}
