.cards-wrapper {
    .wrapper-header {
        display: flex;
        align-items: center;

        &__title {
            @include title;

            margin-right: 10px;
            cursor: default;
        }

        &__add {
            @include addBtn;
        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 20px;

        margin-top: 30px;

        .empty {
            text-align: center;
        }
    }
}

@media screen and (max-width: 768px) {
    .cards-wrapper {
        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
}
