.cards-wrapper {
    &__title {
        @include title;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .empty {
            text-align: center;
        }
    }
}
