.cards-wrapper {
    .wrapper-header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        &__title {
            @include title;
            margin-right: 10px;
        }

        &__add {
            @include addBtn;
        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .empty {
            text-align: center;
        }
    }
}
