.content {
    &__title {
        margin-bottom: 20px;
    }

    .form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        &__error {
            color: $red;
            font-size: 1rem;
            text-align: center;
            margin-bottom: 5px;
        }
    }
}
