.history-wrapper-item {
    display: flex;
    justify-content: space-between;

    .history-wrapper-item__title {
        flex: 2;
    }

    .history-wrapper-item__category {
        flex: 2;
        text-align: center;
    }

    .history-wrapper-item__date {
        flex: 1;
        text-align: center;
    }

    .history-wrapper-item__value {
        flex: 1;
        text-align: right;
        font-weight: 700;

        &_income {
            color: $green;
        }

        &_expense {
            color: $red;
        }
    }
}
