.content {
    input,
    select {
        border: none;
        text-align: center;
        outline: none;
        padding: 10px 0;
    }

    .input-balance {
        font-size: 2rem;
    }

    .inputs-row {
        display: flex;

        input,
        select {
            flex: 1;
        }
    }

    select {
        margin-bottom: 28px;
    }

    .error {
        color: $red;
        text-align: center;
        margin: 10px 0 20px;
    }
}

.confirm-label {
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.confirm-card {
    margin: 15px 0;
}
