.modal-overlay {
    display: grid;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;

    .modal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 340px;
        height: auto;
        place-self: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 3px;

        .content {
            height: 100%;
            display: flex;
            flex-direction: column;

            &__title {
                text-align: left;
                font-weight: 700;
                font-size: 1.5rem;
                margin-bottom: 15px;
            }

            .content-form {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                &__label {
                    color: $lightText;
                    margin-bottom: 5px;
                }

                &__input {
                    font-size: 1rem;
                    outline: none;
                    border: 1px solid $bgHover;
                    border-radius: 3px;
                    padding: 15px;
                    margin-bottom: 8px;

                    &_invalid {
                        background-color: rgba(255, 0, 0, 0.15);
                        border-radius: 3px;
                    }
                }

                &__error {
                    text-align: center;
                    color: $red;
                    margin-bottom: 8px;
                }

                &__submit {
                    flex: 1;
                    background: $bg;
                    border: none;
                    border-radius: 3px;
                    padding: 10px 0;
                    margin-top: 20px;
                    cursor: pointer;
                    transition: background 0.2s linear;

                    &:disabled {
                        opacity: 0.5;
                    }

                    &:hover {
                        background-color: $bgHover;
                    }

                    &:active {
                        background-color: $bgActive;
                    }
                }
            }
        }

        .input-form,
        .select-form {
            @include input;
        }

        .select-form {
            margin-bottom: 28px;
        }

        .invalid {
            background-color: rgba(255, 0, 0, 0.15);
            border-radius: 3px;
        }

        .modal-btns {
            display: flex;
            gap: 15px;

            &__btn {
                flex: 1;
                background: $bg;
                border: none;
                border-radius: 3px;
                padding: 10px 0;
                cursor: pointer;
                transition: background 0.2s linear;

                &:disabled {
                    opacity: 0.5;
                }

                &:hover {
                    background-color: $bgHover;
                }

                &:active {
                    background-color: $bgActive;
                }
            }
        }
    }
}
