.goal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 180px;
    background-color: $bg;
    padding: 20px 20px 15px;
    border-radius: 3px;
    cursor: default;

    &__title {
        font-size: 1.5rem;
    }

    &__remove-btn {
        position: absolute;
        top: 23px;
        right: 30px;
        opacity: 0;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: opacity 0.2s linear;

        svg {
            path {
                transition: fill 0.2s linear;
            }
        }

        &:hover svg path {
            fill: $red;
        }
    }

    .value {
        font-weight: 700;

        &__dollar {
            font-size: 1.5rem;
            color: $bgActive;
        }

        &__int {
            font-size: 2.2rem;
        }

        &__float {
            font-size: 2.2rem;
            color: $bgActive;
        }
    }

    .progress {
        .bar {
            width: 100%;
            height: 15px;
            background-color: $bgHover;
            border-radius: 3px;
            margin-bottom: 5px;

            &__inner {
                height: 100%;
                background-color: $text;
                border-radius: 3px;

                .percentage {
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-size: 0.8rem;
                }
            }
        }

        .count {
            display: flex;
            justify-content: space-between;

            &__need,
            &__start {
                font-size: 0.8rem;
            }
        }
    }

    &:hover .goal__remove-btn {
        opacity: 1;
    }
}
