.item-select {
    position: relative;
    margin-bottom: 8px;

    .item-select-selected {
        display: flex;
        justify-content: space-between;
        border: 1px solid $bgHover;
        border-radius: 3px;
        padding: 15px;
        cursor: pointer;
        transition: background 0.3s linear;
    }

    .item-select-dropdown {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 2;

        .item-select-dropdown__list {
            background-color: #fff;

            border-radius: 3px;

            .item-select-dropdown-item {
                display: flex;
                justify-content: space-between;
                border: 1px solid $bgHover;
                padding: 15px;
                background-color: #fff;
                cursor: pointer;

                &:hover {
                    background-color: $bgHover;
                }
            }
        }
    }
}
