.item-select {
    position: relative;
    margin-bottom: 8px;

    .item-select-selected {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $bgHover;
        border-radius: 3px;
        padding: 15px;
        cursor: pointer;
        transition: background 0.3s linear;

        &__arrow {
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
            transition: transform 0.1s linear;

            &--up {
                border-top: 2px solid $lightText;
                border-left: 2px solid $lightText;
                margin-top: 5px;
            }

            &--down {
                border-bottom: 2px solid $lightText;
                border-right: 2px solid $lightText;
                margin-top: -5px;
            }
        }
    }

    .item-select-dropdown {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 2;

        .item-select-dropdown__list {
            background-color: #fff;

            border-radius: 3px;

            .item-select-dropdown-item {
                display: flex;
                justify-content: space-between;
                border: 1px solid $bgHover;
                padding: 15px;
                background-color: #fff;
                cursor: pointer;

                &:hover {
                    background-color: $bgHover;
                }
            }
        }
    }
}

.item-select--error {
    background-color: rgba(255, 0, 0, 0.15);
    border-radius: 3px;
}
