.history {
    height: 100%;

    &__title {
        @include title;
        margin-bottom: 30px;
    }

    .history-wrapper {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &__header {
            height: 100%;
            display: flex;
            margin-bottom: 10px;

            .history-wrapper__title,
            .history-wrapper__category,
            .history-wrapper__date,
            .history-wrapper__value {
                font-size: 1.1rem;
                font-weight: 700;
            }

            .history-wrapper__title {
                flex: 2;
            }

            .history-wrapper__category {
                flex: 2;
                text-align: center;
            }

            .history-wrapper__date {
                flex: 1;
                text-align: center;
            }

            .history-wrapper__value {
                flex: 1;
                text-align: right;
            }
        }

        &__list {
            min-height: 400px;
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
        }

        &__footer {
        }
    }
}
