.balance-wrapper {
    margin-bottom: 20px;

    &__title {
        @include title;
        margin-bottom: 30px;
        cursor: default;
    }

    .balance {
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $bg;
        padding: 20px 30px 15px;
        border-radius: 3px;

        &__title {
            font-size: 1.5rem;
            font-weight: 400;
        }

        &__value {
            font-size: 2.5rem;
            font-weight: 700;

            .dollar {
                color: $bgActive;
                font-size: 1.5rem;
            }

            .float {
                color: $bgActive;
                font-size: 2.5rem;
                font-weight: 700;
            }
        }
    }
}
