.control-btns-wrapper {
    display: flex;
    gap: 10px;

    margin-top: 20px;

    &__btn {
        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        font-size: 1rem;

        background-color: $bg;

        border: none;
        border-radius: 3px;

        cursor: pointer;
        transition: background 0.2s linear;

        .icon {
            margin-right: 6px;
        }

        span {
            color: $text;

            &::before {
                display: inline-block;
                width: 14px;
                height: 14px;
                margin-right: 6px;
            }
        }

        .income {
            &::before {
                content: "";
                background: url("../../assets/icon-plus.svg") center no-repeat;
            }
        }

        .expense {
            &::before {
                content: "";
                background: url("../../assets/icon-minus.svg") center no-repeat;
            }
        }

        &:hover {
            background-color: $bgHover;
        }

        &:active {
            background-color: $bgActive;
        }
    }
}
