.balance-wrapper-balance-control-btns {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    &__btn {
        flex: 1;
        gap: 5px;
        font-weight: 300;
        background-color: transparent;
        border: none;
        border-radius: 3px;
        padding: 7px 0;
        transition: 0.2s linear;
        cursor: pointer;

        &_active {
            background-color: $bgHover;
        }

        &:hover {
            background-color: $bgHover;
        }
    }
}
