.goals-wrapper {
    .wrapper-header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        &__title {
            @include title;
            margin-right: 10px;
            cursor: default;
        }

        &__add {
            @include addBtn;
        }
    }

    .goals {
        display: flex;
        gap: 30px;
    }
}
